name: vimcats

on:
  push:
    branches:
      - master

env:
  PLUGIN_NAME: in_its_entirety

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    name: luaCATS to vimdoc
    steps:
      - uses: actions/checkout@v6

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install vimcats
        run: cargo install vimcats --features=cli

      - name: Generate docs
        run: vimcats -t -f lua/in_its_entirety.lua > doc/${{env.PLUGIN_NAME}}.txt

      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: ${{ github.head_ref }}
          commit_message: "chore(docs): auto-generate vimdoc"
          file_pattern: doc/*.txt
